/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Kode+Mono:wght@400..700&display=swap');
body{
    background-color: black;
    background-image: url(../images/cyber-girl.jpg);
    color:#1DF500;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cutive Mono', monospace;
    margin: 20px 5px 20px 5px;
}

h1, h2, h3{
    font-family: 'Kode Mono', monospace;
    text-shadow: #1df500 0px 0px 8px;
}

.section {
    margin: 10px;
    background-color: rgb(70 70 70 / 33%);
    border-radius: 20px;
}

/* Header */
header{
    text-align: center;
}

header a{
    text-decoration: none;
    color: inherit;
}

#logo{
    color:linen;
}

hr{
    border: 1px solid #1DF500;
    box-shadow: #1DF500 0 0 10px;
}

/* Navigation menu */

#menu{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    font-weight: bolder;
    font-family: 'Cutive Mono', monospace;
    font-size: 100%;
    word-spacing: -10px;
}

/* Links and Buttons Styling */
.links-and-buttons{
    border-radius: 0 20px 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 18px;
}

/* Main */
main{
/* Push footer down by making main element take a surplus space */
    flex: 1 0 auto;
    padding: 30px;
}

/* Footer */
footer{
    padding: 30px;
}