/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: black;
    background-image: url(../images/cyber-girl.jpg);
    color:#1DF500;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cutive-Mono', monospace;
}

h1, h2, h3{
    font-family: 'Roboto Mono', monospace;
}

/* Header */
header{
    background-color: rgba(70, 70, 70, 0.5);
}

header a{
    text-decoration: none;
    color: inherit;
}

#menu{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

/* Main */
main{
/* Push footer down by making main element take a surplus space */
    flex: 1 0 auto;
    background-color: rgba(70, 70, 70, 0.5);
}

/* Footer */
footer{
    background-color: rgba(70, 70, 70, 0.5);
}